*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./bg-images.jpg);
}

.mediation-app{
    position: absolute;
    top: 20%;
    left: 40%;
    right: 40%;
    color: #ffffff;
    text-align: center;
}

.select-breaths{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
}

.select-breaths #breaths{
    background-color: purple;
    color: #ffffff;
    padding: 0.5em 0;
}


.select-breaths label{
    margin-bottom: 10px;
    text-align: center;
}

.circle{
    margin: 15px;
}

.circle-outline{
    border: 10px solid #ffffff;
    border-radius: 50%;
    width: 20vw;
    height: 40vh;
    margin-bottom: 15px;
}

.circle-progress{
    border: 2px solid purple;
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 45%;
    right: 45%;
    width: 2vw;
    height: 6vh;
}

.mediation-app .app-progress{
    margin-bottom: 15px;
}

.mediation-app .app-instruction{
    margin-bottom: 15px;
}

.app-instruction p{
    word-break: keep-all;
}

.btn-default{
    padding: 0.5em 1em;
    background-color: purple;
    color: #ffffff;
    font-weight: bold;
}





